In [20]:
import pandas as pd
import glob
import shutil

In [21]:
#path =r'/Users/shekhar/Desktop/Bootcamp/Revision/Homework/Tableau/Resources' # use your path
#allFiles = glob.glob(path + "/*.csv")

#list_ = []

#for file_ in allFiles:
#    df = pd.read_csv(file_,index_col=None, header=0)
#    list_.append(df)

#frame = pd.concat(list_, axis = 0, ignore_index = True)
#frame.head()


import shutil
#import csv files from folder
path = r'/Users/Steve/pystuff/LearnPython/TableauStuff/TableauHomework/TripDataJC2017'
allFiles = glob.glob(path + "/*.csv")
with open('/Users/Steve/pystuff/LearnPython/TableauStuff/TableauHomework/TripDataJC2017/output_tripdata_jc_2017.csv', 'wb') as outfile:
    for i, fname in enumerate(allFiles):
        with open(fname, 'rb') as infile:
            if i != 0:
                infile.readline()  # Throw away header on all but first file
            # Block copy rest of file from input to output without parsing
            shutil.copyfileobj(infile, outfile)
            print(fname + " has been imported.")

/Users/Steve/pystuff/LearnPython/TableauStuff/TableauHomework/TripDataJC2017/JC-201701-citibike-tripdata.csv has been imported.
/Users/Steve/pystuff/LearnPython/TableauStuff/TableauHomework/TripDataJC2017/JC-201709-citibike-tripdata.csv has been imported.
/Users/Steve/pystuff/LearnPython/TableauStuff/TableauHomework/TripDataJC2017/JC-201703-citibike-tripdata.csv has been imported.
/Users/Steve/pystuff/LearnPython/TableauStuff/TableauHomework/TripDataJC2017/JC-201708 citibike-tripdata.csv has been imported.
/Users/Steve/pystuff/LearnPython/TableauStuff/TableauHomework/TripDataJC2017/JC-201705-citibike-tripdata.csv has been imported.
/Users/Steve/pystuff/LearnPython/TableauStuff/TableauHomework/TripDataJC2017/JC-201707-citibike-tripdata.csv has been imported.
/Users/Steve/pystuff/LearnPython/TableauStuff/TableauHomework/TripDataJC2017/JC-201711-citibike-tripdata.csv has been imported.
/Users/Steve/pystuff/LearnPython/TableauStuff/TableauHomework/TripDataJC2017/JC-201702-citibike-tripdata.csv has been imported.
/Users/Steve/pystuff/LearnPython/TableauStuff/TableauHomework/TripDataJC2017/JC-201712-citibike-tripdata.csv has been imported.
/Users/Steve/pystuff/LearnPython/TableauStuff/TableauHomework/TripDataJC2017/JC-201704-citibike-tripdata.csv has been imported.
/Users/Steve/pystuff/LearnPython/TableauStuff/TableauHomework/TripDataJC2017/JC-201710-citibike-tripdata.csv has been imported.
/Users/Steve/pystuff/LearnPython/TableauStuff/TableauHomework/TripDataJC2017/JC-201706-citibike-tripdata.csv has been imported.

In [22]:
df = pd.read_csv('/Users/Steve/pystuff/LearnPython/TableauStuff/TableauHomework/TripDataJC2017/output_tripdata_jc_2017.csv',error_bad_lines=False)
df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983.0,1
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,1
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,1
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,1

In [23]:
df.count()

Trip Duration              294928
Start Time                 294928
Stop Time                  294928
Start Station ID           294928
Start Station Name         294928
Start Station Latitude     294928
Start Station Longitude    294928
End Station ID             294928
End Station Name           294928
End Station Latitude       294928
End Station Longitude      294928
Bike ID                    294928
User Type                  294811
Birth Year                 275313
Gender                     294928
dtype: int64

In [24]:
df_no_missing = df.dropna()

In [25]:
df_no_missing.count()

Trip Duration              275196
Start Time                 275196
Stop Time                  275196
Start Station ID           275196
Start Station Name         275196
Start Station Latitude     275196
Start Station Longitude    275196
End Station ID             275196
End Station Name           275196
End Station Latitude       275196
End Station Longitude      275196
Bike ID                    275196
User Type                  275196
Birth Year                 275196
Gender                     275196
dtype: int64

In [15]:
df_no_missing.to_csv('/Users/Steve/pystuff/LearnPython/TableauStuff/TableauHomework/TripDataJC2017/output_tripdata_jc_2017_missings_removed.csv',index=False,header=True)

In [8]:
print("Hello")

Hello